<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <ul>
    {% for user in users %}
        <li>{{ user['first_name'] }} {{ user['last_name'] }} - 
            {% if user['age'] %}
                Edad: {{ user['age'] }} -
            {% endif %}
            {% if user['phone'] %}
                Teléfono: {{ user['phone'] }}
            {% endif %}
        </li>
    {% endfor %}
    </ul>
</body>
</html>
